* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
}

header {
    background-color: #0078d7; /* Цвет в стиле Microsoft */
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

nav ul li:hover {
    color: #e0e0e0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
}

.btn {
    background-color: #0078d7; /* Основной цвет кнопок */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #005ea1; /* Темный цвет при наведении */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0078d7;
    color: white;
}
